<h1>If Else True False stage</h1>
<p>
  <input type="radio" name="radio1" (click)="checkValid(true)" /> True
  <input type="radio" name="radio1" (click)="checkValid(false)" /> False
</p>
<p>{{isvalid}}</p>
<p *ngIf="isvalid; then validDiv; else elseDiv"></p>
  <ng-template #validDiv>
    This is Valid
  </ng-template>
  <ng-template #elseDiv>
    This is not valid
  </ng-template>

  <h1>dropdown choosen Swithcase</h1>
<select (change)="changeOption($event)">
  <option value="choose">Select</option>
  <option value="one">One</option>
  <option value="two">Two</option>
  <option value="three">Three</option>
</select>

<div [ngSwitch]="choosen">
  <p *ngSwitchCase="'one'">One</p>
  <p *ngSwitchCase="'two'">Two</p>
  <p *ngSwitchCase="'three'">Three</p>
</div>

<h1>NG For</h1>
<ul *ngFor="let details of studentDetails">
  <li>{{details.name}}</li>
</ul>

<h1>NG Group</h1>
<ul *ngFor = "let detailGroup of studentDetailsGroup">
  <li>{{detailGroup.country}}
    <ul *ngFor="let people of detailGroup.people">
      <li>{{people.name}}</li>
    </ul>
  </li>
</ul>

<h1>Data Binding</h1>
<p><input [value]="data"  (input)="data=$event.target.value"  />
{{data}}</p>
<br />
<p><input [(ngModel)]="data1" /> {{data1}}</p>

<h1>Pipe</h1>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Designation</th>
  </tr>
  <tr *ngFor="let details of studentDetails">
    <td>{{details.name | uppercase}}</td>
    <td>{{details.des}}</td>
  </tr>
</table>

<h1>Date parameterized pipe</h1>
<p>{{pipeDate | date : medium | lowercase}}</p>
<p>{{pipeDate | date : "dd/mm/yyyy"}}</p>
<p>{{pipeDate | date : "fullDate"}}</p>
<p>{{pipeCurrency | currency : "INR"}}</p>

<h1>Custom pipe by creating external </h1>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Designation</th>
  </tr>
  <tr *ngFor="let details of studentDetails">
    <td>{{details.name | mypipe : details.gender}}</td>
    <td>{{details.des}}</td>
  </tr>
</table>

<h1>Router</h1>
<a [routerLink] = "['./student']"> Student</a>----
<a [routerLink] = "['./studentdetails']" >Student Details</a>----
<a [routerLink] = "['./students']"> Student</a>
<button class="btn btn-primary" (click)="student()">Student</button>
<router-outlet></router-outlet>

<h1>Service</h1>
<p>{{text}}</p>

<h1>Service Call</h1>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Empid</th>
  </tr>
  <tr *ngFor="let emp of employee">
    <td>{{emp.name}}</td>
    <td>{{emp.empid}}</td>
  </tr>
</table>

<h1>Install bootstrap</h1>
<button class="btn btn-success">Click</button>
<br /><br /><br /><br />